{% extends "layout.html" %}
{% block content %}
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
           <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
           <li class="nav-item active">
             <a class="nav-link" href="{{ url_for('home') }}">Home<span class="sr-only">(current)</span></a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="{{ url_for('about') }}">About</a>
           </li>
         </ul>

       </div>
     </nav>
   <div >
       <center>
           <div class="container jumbotron">
             <div id="contentcontainer">
                                               <h2><center>INSTITUTE HOSPITAL</center></h2>

<div style="text-align: center;">
<div style="text-align: center;"><img alt="" src="http://www.nitt.edu/home/students/facilitiesnservices/hostelsnmess/constructions/healthcare1.JPG" /></div>

<h5>Contact No: 0431-2503860<br />wid
Email: hospital@nitt.edu<br />
Ambulance Contact No.: 9486001162</h5>
</div>
<br />

<p>The institute hospital is located within the campus, it is located amidst the hostel/residential zone and the academic zone.<br />
The NITT Hospital provides primary health care round the clock on all the days.<br />
NITT Hospital has casualty, OP & IP facilities, 24 hours fully equipped ambulance, 24 hours pharmacy and a clinical laboratory working during 07:00 a.m. to 09:00 p.m.</p>

<h2>FACILITIES</h2>

<p>The Emergency services are available 24/7, 365 days a year. All kinds of medical emergencies are managed effectively with the infrastructure and facilities.</p>

<h2>WARDS</h2>

<p>1. Casualty with Nebulization, Oxygen, Suction, Vaccine – TT, ARV<br />
2. Female Ward <br />
3. Male Ward <br />
4. Isolation Ward <br />
5. Minor OT</p>

<h2>MEDICAL EQUIPMENTS</h2>

<p>1. ECG<br />
2. Ultra Sonography<br />
3. Physiotherapy Instruments<br />
4. Nebulizer<br />
5. Autoclave</p>

<table>
<tr><td><img alt="" src="/home/students/facilitiesnservices/hospital/h1.jpg"/><br />
Injections and Intravenous fluids administrations</td>

<td><img alt="" src="/home/students/facilitiesnservices/hospital/h2.jpg"/><br />
Emergency Ward</td></tr>

<tr><td><img alt="" src="/home/students/facilitiesnservices/hospital/h3.jpg"/><br />
Nebulization and  Oxygen facial mask</td>

<td><img alt="" src="/home/students/facilitiesnservices/hospital/h4.jpg"/><br />
Electrocardiography</td></tr>

<tr><td><img alt="" src="/home/students/facilitiesnservices/hospital/h5.jpg"/><br />
Ultrasonography</td>

<td><img alt="" src="/home/students/facilitiesnservices/hospital/h6.jpg"/><br />
Minor Operation Theater</td></tr>

<tr><td><img alt="" src="/home/students/facilitiesnservices/hospital/h7.jpg"/><br />
Autoclave</td>

<td><img alt="" src="/home/students/facilitiesnservices/hospital/h8.jpg"/><br />
Physiotherapy Clinic</td></tr>
</table>

<h2>PHYSIOTHERAPY CLINIC</h2>

<ul>
<li>Treatment for various musculoskeletal disorders, including post-operative cases, sports injuries, stroke, cerebral palsy.</li>
<li>Pain management and Rehabilitation for sport injuries with corrective and conditioning exercises.</li>
<li>Follow up home exercise and Ergonomic Advice.</li>
</ul>

<h2>DENTAL CLINIC</h2>

<p>The Hospital has the facility to handle dental services such as scaling, filling and extraction of tooth.</p>

<h2>AMBULANCE</h2>

<p>24 x 7 (on all days)</p>

<p>The ambulance services is outsourced from M/s. Apollo Hospitals Enterprise Ltd. is stationed at the institute hospital. The ambulance is fully equipped with oxygen cylinder, nebulizer, lifesaving drugs, first aid kit bag, Electronic Suction Pump, Spine Board, Biphasic Defibrillator with Cardiac Monitor and Recorder suitable for adults, children, infants up to 5 kg, Artificial Manual Breathing Unit (Adult, Child & Neonatal), Volumetric Infusion Pump with LCD programming display, Syringe Infusion Pump, Needle & Syringe Destroyer, Pneumatic Splints, Coiler Splints, Cervical Collars, etc. The ambulance is provided with a Trained Emergency Medical Technician (a Paramedical Staff who will be able to operate all the instruments installed in the ambulance), who is capable to deliver pre-hospital care to stabilize the patient and transport the patient to any empanelled hospital will first aid care.</p>

<div style="text-align: center;"><img alt="" src="/home/students/facilitiesnservices/hospital/a1.jpg" />
<img alt="" src="/home/students/facilitiesnservices/hospital/a2.jpg" />
<br /></div><br />

<h2>CLINICAL LABORATORY</h2>

<p>7:00 a.m. to 9:00 p.m. (all days)</p>

<p>The clinical laboratory is outsourced to Hindlabs of M/s. HLL Lifecare Limited (A Govt. of India Enterprise) Samples of blood, urine, mucous, stool, etc., are obtained from the patients referred to the clinical laboratory by the Medical Officers of Institute Hospital for the prescribed tests. Results of the tests are reported to the doctor on the same day by means of computerized printout. All the tests listed under the CGHS scheme are carried out for the students and eligible employees. Testing and waste management are followed as per NABL Standards. Internal quality control is done daily.</p>

<h2>PHARMACY</h2>

<p>24 x 7 (on all days)</p>

<p>Pharmacy inside the institute hospital is outsourced and functioning under Pradhan Mantri Bhartiya Jan Aushadhi Pariyojana Kendra scheme, run by P.R. Enterprisers.</p>

<div style="text-align: center;"><img alt="" src="/home/students/facilitiesnservices/hospital/c1.jpg" />
<img alt="" src="/home/students/facilitiesnservices/hospital/c3.jpg" />
<br /></div><br />

<h2>PEOPLE</h2>

<p><strong>Chairman, Hospital Advisory Committee</strong></p>
<p><img alt="" src="./Anantharaman.jpg"/ height="150"><br />Dr. N. Anantharaman, Professor (HAG), Chemical</p>
<br />

<hr>

<p><strong>MEDICAL OFFICERS – PERMANENT</strong></p>

<p><img alt="" src="/home/students/facilitiesnservices/hospital/Priyanka-2017.jpg"/><br />Dr. R. Priyanka, M.B.B.S.<br />
<img alt="" src="/home/students/facilitiesnservices/hospital/Mala-2019.jpg"/><br />Dr. M. Malaimala Sarasveni, M.B.B.S., Dip.CMH</p>


<hr>

<h2>Medical Officers</h2>
1. Dr.ARUN BHARATHI KANNAN MBBS.<br/>
2. Dr.B. KAVIYA MBBS.<br/>
3. Dr. Anapoorani, MBBS,<br/>
4. Dr. Kanchana Mala, MBBS,<br/>


<hr>

<h2>Visiting Consultants</h2>

<table>

<tr><td>	S.no	</td><td>	NAME OF THE SPECIALIST	</td><td>	DAYS
</td><td>	TIMINGS	</td></tr>
<tr><td>	1	</td><td>	DR.A. SETHURAMAN MD.,  (GEN MEDICINE)	</td><td>	TUE,THUR	</td><td>	04.00PM – 06.00PM	</td></tr>
<tr><td>	2	</td><td>	DR.ANU REKHA   MD.,  (GEN. MEDICINE)
</td><td>	MON, TUE , FRI
</td><td>	03.30PM  -- 05.30PM	</td></tr>
<tr><td>	3	</td><td>	DR.K. ANANTH    MD., ((PAEDIATRICS)
</td><td>	MON,WED,FRI	</td><td>	03.30PM  -- 05.30PM	</td></tr>
<tr><td>	4	</td><td>	DR. G. SWAMYNATHAN    MS., (ORTHO)
</td><td>	TUE, THUR, SAT	</td><td>	03.30PM  -- 05.30PM	</td></tr>
<tr><td>	5	</td><td>	DR.KEERTHANA PRIYADHARSHINI  MBBS.,  DNB., (OBSTERTRICS& GYNAECOLOGY)
</td><td>	MON,WED,FRI	</td><td>	03.30PM  -- 05.30PM	</td></tr>
<tr><td>	6	</td><td>	DR.VINOTH RAYAR MD., (RADIOLOGIST)
</td><td>	TUE	</td><td>	04.00PM  -- 06.00PM	</td></tr>
<tr><td>	7	</td><td>	DR.SWEETHA  MBBS.,  DPM., (PSYCHIATRY)
</td><td>	SAT	</td><td>	04.00PM  -- 06.00PM	</td></tr>
<tr><td>	8	</td><td>	DR.  MOHAMED MANSOOR MBSS., DNB.,  (GEN.SURGERY)
</td><td>	WEDNESDAY	</td><td>	04.00PM  -- 06.00PM	</td></tr>
<tr><td>	9	</td><td>	DR.SUJATHA   MD ., (OPHTHALMOLOGY)
</td><td>	FRIDAY	</td><td>	04.00PM  -- 06.00PM	</td></tr>
<tr><td>	10	</td><td>	DR.S. VIGNESH MDS., (ENDODONTIST) (DENTIST )	</td><td>	MON, TUE , FRI
</td><td>	03.00 PM-  07.00 PM 	</td></tr>
<tr><td>	11	</td><td>	DR.S. ABINAYA (B.A.M.S.,(AYURVEDIC)
</td><td>	MON,WED,FRI	</td><td>	04.00PM  -- 06.00PM	</td></tr>
<tr><td>	12	</td><td>	DR. M.AYYALAMMAI MD.,(HOMEOPATHY)
</td><td>	THUR,FRI,SAT	</td><td>	04.00PM  -- 06.00PM	</td></tr>
<tr><td>	13	</td><td>	MR.P.VENKATESWARAN BPT  MSC.,  (YOGA)  -PHSIOTHERAPIST
</td><td>	MON,TUE, WED	</td><td>	03.00 PM-  07.00 PM 	</td></tr>
<tr><td>	14	</td><td>	MS.BHUVANA  BPT.,  PHYSIOTHERAPIST 	</td><td>	THUR, FRI, SAT
</td><td>	02.00 PM -  06.00 PM 	</td></tr>
</table>

<hr>

<!--

<p><strong>MEDICAL OFFICERS – ON CONTRACT</strong></p>

<p><img alt="" src="/home/students/facilitiesnservices/hospital/Narmada-Devi-2017.jpg"/><br />Dr. D. Narmada Devi, M.B.B.S., PG D.Diab (ADMINISTRATIVE LIAISON OFFICER)<br />
<img alt="" src="/home/students/facilitiesnservices/hospital/Kamaludeen-2017.jpg"/><br />Dr. M. Kamaludeen, M.B.B.S.,D.D.<br />
<img alt="" src="/home/students/facilitiesnservices/hospital/Mathivathani-2017.jpg"/><br />Dr. U. Mathivathani, M.B.B.S.<br />
<img alt="" src="/home/students/facilitiesnservices/hospital/Ramesh-2017.jpg"/><br />Dr. P. Ramesh, MD.,(Belarus)<br />
<img alt="" src="/home/students/facilitiesnservices/hospital/Chandrika-2017.jpg"/><br />Dr. K. Chandrika, M.B.B.S.<br />
<img alt="" src="/home/students/facilitiesnservices/hospital/Sathish-2017.jpg"/><br />Dr. K. Sathish, MD.,(Russia)</p>

<p>
<strong>VISITING CONSULTANTS</strong><br />
<img alt="" src="/home/students/facilitiesnservices/hospital/Ganapathy-2017.jpg"/><br />Dr. G. Ganapathy M.B.B.S., M.D.(Gen.Med), F.C.C.P.; 8- VISITS/MONTH - 4- Wednesdays& 4 Fridays/month) 9:00 am to 12:00pm<br />

<img alt="" src="/home/students/facilitiesnservices/hospital/Kader-Sahib-2017.jpg"/><br />Dr. A. Kader Sahib MBBS, MD, MRCP, DNB (Cardiologist); Last Saturday/ month9.00am-11.00 am<br />

<img alt="" src="/home/students/facilitiesnservices/hospital/Agneeswaran-2017.jpg"/><br />Dr. A. Agneeswaran M.D (Pediatrics); 8-9 visits/month wednesday-7.00 am- 9.00 am Saturday2:00 Pm- 04.00pm<br />

<img alt="" src="/home/students/facilitiesnservices/hospital/Arun-Geethayan-2017.jpg"/><br />Dr. Arun Geethayan, MBBS, MS (Ortho.), FRCS; 8- VISITS/MONTH - 4- Wednesdays& 4 Fridays/month) 3:00 pm to 6:00pm<br />

<img alt="" src="/home/students/facilitiesnservices/hospital/Balamurugan-2017.jpg"/><br />Dr. A. Balamurugan B.H.M.S (Homeopathy); Consultation for 12 visits /month - (Wednesday, Thursday& Friday) 3:00 pm to 6.00 pm<br />

<img alt="" src="/home/students/facilitiesnservices/hospital/Prasad-2017.jpg"/><br />Dr. N.S. Prasad M.D., (Diabetes Care); 8- VISITS/ MONTH Mondays & Wednesday5:00-07:00pm<br />

<img alt="" src="/home/students/facilitiesnservices/hospital/Sakthivel-2017.jpg"/><br />Dr. S. Sakthivel MD.DM (Endocrinology); 4- VISITS/ MONTH Friday/week 3:00 Pm to 05:00pm<br />

<img alt="" src="/home/students/facilitiesnservices/hospital/Banumathi-2017.jpg"/><br />Dr. S. Banumathi MD. DGO (Gynecologist); 3- VISITS/ week Tuesday, Wednesday & Friday 3:00 Pm to 06:00pm<br />

<img alt="" src="/home/students/facilitiesnservices/hospital/Ramasamy-2017.jpg"/><br />Dr. P.R. Ramasamy MS. (Ortho Surgeon); 4- VISITS/ MONTH TUESDAY/ WEEK 5:00 Pm to 07:00pm<br />

<img alt="" src="/home/students/facilitiesnservices/hospital/Prakash-2017.jpg"/><br />Dr. K. Prakash MD.P.G.Dip (Endo & Diab); 20 –visits/month2.00pm -5.00pm<br />

<img alt="" src="/home/students/facilitiesnservices/hospital/Karthikeyan-2017.jpg"/><br />Dr. N. Karthikeyan MS.,MCH., (Urologist); 2 -visits/month Friday 3.00pm – 6.00pm<br /><br />

<strong>PHYSIOTHERAPIST</strong><br />
<img alt="" src="/home/students/facilitiesnservices/hospital/Suresh-Gnanarethinam-2017.jpg"/><br />Dr. M. Suresh Gnanarethinam, B.P.T., P.G. Dip. On Field Sports Injury Management<br />
<br />
<strong>DENTIST</strong><br />
<img alt="" src="/home/students/facilitiesnservices/hospital/Saranya-2017.jpg"/><br />Dr. A.V. Saranya, B.D.S.</p>

-->

<p><strong>REGULAR STAFF</strong> <br />
<img alt="" src="/home/students/facilitiesnservices/hospital/Malarvizhi-2018.jpg" width="150"/><br />Mrs. P. Malarvizhi, GNM Senior Technical Assistant<br />
<img alt="" src="/home/students/facilitiesnservices/hospital/Vairamani-2017.jpg" width="150"/><br />Mrs. S. Vairamani, D.Pharm Pharmacist SG-II<br />
<img alt="" src="/home/students/facilitiesnservices/hospital/Daisy-Mary-2017.jpg" width="150"/><br />Mrs. A. Daisy Mary, ANM Senior Technician<br />
<img alt="" src="/home/students/facilitiesnservices/hospital/-.jpg" width="150"/><br />Mr. Santhappan, Sr.Attender<br />
<img alt="" src="/home/students/facilitiesnservices/hospital/-.jpg" width="150"/><br />Mr. M.Muthukrishnan, Sr.Attender<br />
<br />

<strong>NMR Staff</strong> <br />
<img alt="" src="/home/students/facilitiesnservices/hospital/Saberina-Francis-2017.jpg" width="150"/><br />Ms. Saberina Francis, Staff Nurse<br />
<img alt="" src="/home/students/facilitiesnservices/hospital/Daisy-Rani-2017.jpg" width="150"/><br />Mrs. A. Daisy Rani, ANM<br />
<img alt="" src="/home/students/facilitiesnservices/hospital/Rajasekar-2019.jpg" width="150"/><br />Mr. K. Rajasekar, Junior Assistant<br />
<br />
<strong>STAFF NURSES – ON CONTRACT</strong> <br />
<table>
<tr><td>	S.NO	</td><td>	NAME OF THE STAFFS	</td></tr>
<tr><td>	1	</td><td>	MRS.S. EZHILARASI BSC., (NURSING)	</td></tr>
<tr><td>	2	</td><td>	MS.S.SURABHI BSC.,(NURSING)	</td></tr>
<tr><td>	3	</td><td>	MS. S.YOGA PRIYA BSC.,(NURSING)	</td></tr>
<tr><td>	4	</td><td>	MS. R.DURGA BSC.,(NURSING)	</td></tr>
<tr><td>	5	</td><td>	MS. PON KANIMOZHI BSC.,(NURSING)	</td></tr>
<tr><td>	6	</td><td>	MRS. JULIANA BSC.,(NURSING)	</td></tr>
<tr><td>	7	</td><td>	MR. M. RAJA KUMAR BSC.,(NURSING)	</td></tr>
</table>
<h2>IN CASE OF EMERGENCY</h2>

<p>The ambulance driver is provided with an official cell phone for direct contact in case of emergency. The cell phone No. (9486001162) of the ambulance is displayed for notice in every building of the institution in prominent locations (Academic & Hostel Zone, Administrative Building, common halls, sports Centre, etc.,) for call in case of an emergency.</p>

<p>Any student/resident requiring emergency medical management will be brought by the ambulance to the Hospital. Doctors on duty will examine the patient in the casualty. Patient’s general condition and vitals will be monitored and necessary steps will be taken to stabilize the patient. If needed, ECG will be taken immediately and required investigations will be carried out. The doctor will diagnose and manage the case accordingly.</p>

<p>After stabilizing the patient, those requiring secondary and tertiary management will be referred to the nearby hospital at B.H.E.L. Tiruchirappalli. This is a 200 bedded hospital run by BHEL, Tiruchirappalli, a Govt. of India – Public Sector Undertaking, which is close by the institute (5 kms from NIT Tiruchirappalli).</p>

<p>Each student is included under the medical group insurance scheme NITT Students Group Personal Accident and group Mediclaim Insurance Policy since the time of enrollment as student of NIT Tiruchirappalli, under which all the major hospitals of Tiruchirappalli and also the major cities in the country, are empanelled. The student Roll/ID Number is availed as the Group Insurance Number of each student.</p>

<h2>NITT Students Group Personal Accident and Group Mediclaim Insurance Policy</h2>

<p>Each student is included under the medical group insurance scheme NITT Students Group Personal Accident and group Mediclaim Insurance Policy since the time of enrollment as student of NIT Tiruchirappalli, under which all the major hospitals of Tiruchirappalli and also the major cities in the country, are empanelled. The student Roll/ID Number is availed as the Group Insurance Number of each student.</p>

<h2>Institute Health Committee</h2>
<p>The Institute Health Committee of NIT Tiruchirappalli comprises of the following members<br />
1. Chairman – Hospital<br />
2. Dean – Students Welfare<br />
3. Dean – Institute Development<br />
4. Senior Medical Officer<br />
5. Estate Officer<br />
6. Convener – Hostels<br />
7. Medical Officers<br />
8. Warden – Ladies Hostel<br />
9. President – Students Council<br />
10. Vice President – Students Council</p>

<p>The committee in coordination with the Public Health Officer will ensure that all precautionary measures are taken to control and prevent the spread of any notifiable / communicable disease in the campus</p>

<h2>CONTACTS</h2>

<p>Hospital<br />
National Institute of Technology<br />
Tiruchirappalli 620015, Tamilnadu, India<br />
Tel: +91-431-2503860<br />
Ambulance Mobile No. 9486001162<br />
Email: hospital@nitt.edu<br />
Dr. N. Anantharaman, Chairperson 8248931091<br />
Dr. R. Priyanka, Medical Officer 9486001137<br />
Mr. Jagannathan, Manager, The New India Assurance, Trichy 9443259908<br />
Mr. Balaguru – Location in charge Medi-Assist 9344501949<br />
Mr. C. Suresh, Customer Relation Medi-Assist 9344493445</p>
<!--
<h2> Inside NITT Hospital</h2>

<div style="text-align: center;"><img alt="" src="http://www.nitt.edu/home/students/facilitiesnservices/hostelsnmess/constructions/healthcare2.JPG" /></div>

<p>Hospital Timings: Round the clock on all days<br />
The lab time is 7:30 AM to 1:30 PM and 3:30 PM to 6:30 PM and Sat & Sun: 7:30 AM to 1:30 PM<br />
<br />
Phone: 0431-2503860</p>

<table>
<tbody>
 <tr>
   <td>
   <p style="text-align:center"><img alt="" src="consultation-Male.png" /><br />
   <strong>Consultation Male</strong></p>
   </td>
   <td>
   <p style="text-align:center"><img alt="" src="consultation-Female.png" /><br />
   <strong>Consultation Female</strong></p>
   </td>
 </tr>
</tbody>
</table>

<h2>OPAL LADIES HOSTEL HEALTH CLINIC</h2>

<p>In a first of its kind a health centre was opened within the Opal hostel exclusively for the female students. A residential medical officer and staff nurse are providing services from 6pm to 6am. It is of immense benefit as health care is provided at their doorstep.</p>

<h2>Administrative Liaison</h2>

<p>1. <img alt="" src="/home/students/facilitiesnservices/hospital/NarmadaDevi.jpg" />Dr. D. Narmada Devi, MBBS, PG Dip. (Diabetes)<br />
Duty time: General Shift: 9.30 a.m. to 5.30 p.m.<br />
One night duty on weekends, One week off</p>

<h2>Duty Doctors/Regular Doctors:</h2>

<h2>Morning shift Doctors</h2>

<p>7.30 a.m. to 1.30 p.m.<br />
Duty roster (flexible):<br />
4 morning duties, one - night duty, one - afternoon duty, one day – week off</p>

<p>1. <img alt="" src="Priyanka.jpg" /> Dr. R. Priyanka, MBBS,(on deputation from TN State Govt.)<br />
2. <img alt="" src="Kamaluddin.jpg" /> Dr. M. Kamaluddin, MBBS., DD (Dermatalogy)<br />
3. <img alt="" src="Mathivathani.jpg" /> Dr. U. Mathivathani, MBBS<br />
4. <img alt="" src="Sathish.jpg" /> Dr. K. Sathish, M.D. (Russia)</p>

<h2>Afternoon shift Doctors</h2>

<p>1.30 pm-7.30 pm</p>

<p>1. <img alt="" src="NaveenKarthik.jpg" />Dr. R. Naveen Karthik, MBBS<br />
2. <img alt="" src="Chandrika.jpg" />Dr. K. Chandrika, MBBS<br />
3. <img alt="" src="Ramesh.jpg" />Dr. P. Ramesh, MD (Russia)<br />
4. <img alt="" src="Premalatha.jpg" />Dr. V. Premalatha, MBBS</p>

<h2>LADIES HOSTEL (OPAL) HEALTH CLINIC</h2>

<p>Duty time: 6 pm to 10 pm, on calls till 6 a.m.<br />
Weekly 6 days<br />
1. <img alt="" src="Sharmila.jpg" />Dr. G. Sharmila, MBBS</p>

<h2>Resident Doctors</h2>

<p>Dr. U. Mathivadhani<br />
Dr. V. Premalatha<br />
Dr. G. Sharmila</p>

<h2>Visiting Consultants</h2>

<table>
<tbody>
 <tr>
   <td>S.No.</td>
   <td>Name</td>
   <td>Designation</td>
   <td>Day of visit</td>
   <td>Timings</td>
 </tr>
 <tr>
   <td>1. <img alt="" src="Ganapathy.jpg" /></td>
   <td>Dr. G. Ganapathy, MBBS, MD (Gen. Med), FCCP (USA)</td>
   <td>General Medicine</td>
   <td>Wednesdays Fridays</td>
   <td>9:00 am to 12:00Noon</td>
 </tr>
 <tr>
   <td>2. <img alt="" src="Prasad.jpg" /></td>
   <td>Dr. N. S. Prasad, MBBS, MD, DIH, Gr. Dip. in Diabetes care (Australia)</td>
   <td>General Medicine Diabetologist</td>
   <td>Monday Thursday</td>
   <td>4.00pm to 7.00pm</td>
 </tr>
 <tr>
   <td>3. <img alt="" src="KadherSahib.jpg" /></td>
   <td>Dr. Kadher Sahib, MBBS, MD, MRCP, DNB., (Cardiology)</td>
   <td>Cardiologist</td>
   <td>Last Saturday</td>
   <td>9:00 am to 11:00am</td>
 </tr>
 <tr>
   <td>4. <img alt="" src="Ramasamy.jpg" /></td>
   <td>Dr. P. R. Ramasamy, MBBS, MS (Ortho)., FRCS(Ortho)</td>
   <td>Orthopaedician</td>
   <td>Tuesday</td>
   <td>3:00 pm to 5:00 pm</td>
 </tr>
 <tr>
   <td>5. <img alt="" src="Bhanumathy.jpg" /></td>
   <td>Dr. S. Bhanumathy, MBBS, MD (O&G),</td>
   <td>Obstetrician and Gynecologist</td>
   <td>Tuesday Wednesday Friday</td>
   <td>3:00 pm to 6:00 pm</td>
 </tr>
 <tr>
   <td>6. <img alt="" src="Agneeswaran.jpg" /></td>
   <td>Dr. A. Agneeswaran, MBBS, MD (Paediatrics)</td>
   <td>Paediatrician</td>
   <td>Wednesday Saturday</td>
   <td>7.00 am to 9.00 am 2pm to 4 pm</td>
 </tr>
 <tr>
   <td>7. <img alt="" src="Sakthivel.jpg" /></td>
   <td>Dr. S. Sakthivel, MBBS., MD, DM (Endocrinology)</td>
   <td>Hormone Specialist</td>
   <td>Friday</td>
   <td>3:00 pm to 5:00 pm</td>
 </tr>
 <tr>
   <td>8. <img alt="" src="Manickasubramaniam.jpg" /></td>
   <td>Dr. S. Manickasubramaniam, BAMS</td>
   <td>Ayurvedic</td>
   <td>Tuesday Friday</td>
   <td>3:30 pm to 7:30 pm</td>
 </tr>
 <tr>
   <td>9. <img alt="" src="Saranya.jpg" /></td>
   <td>Dr. A.V. Saranya, BDS,</td>
   <td>Dentist</td>
   <td>Tuesday to Saturday</td>
   <td>9:30 am to 12:30am 4:00 pm to 6:30 pm</td>
 </tr>
 <tr>
   <td>10. <img alt="" src="Balamurugan.jpg" /></td>
   <td>Dr. A. Balamurugan, BHMS</td>
   <td>Homeopathy</td>
   <td>Wednesday Thursday Friday</td>
   <td>3:00 pm to 6:00 pm</td>
 </tr>
 <tr>
   <td>11. <img alt="" src="Karthikeyan.jpg" /></td>
   <td>Dr. N. Karthikeyan MS, MRCS, DNB, MCH (Urology)</td>
   <td>Urologist</td>
   <td>1st and 3rd Monday</td>
   <td>3:00 pm to 6:00 pm</td>
 </tr>
 <tr>
   <td>12. <img alt="" src="Arungeethayan.jpg" /></td>
   <td>Dr. R A Arungeethayan MBBS, MS, FRCS (Ortho)</td>
   <td>Orthopaedician</td>
   <td>Wednesday Friday</td>
   <td>4.00 p.m. to 7.00 p.m.</td>
 </tr>
 <tr>
   <td>13. <img alt="" src="Adithya.jpg" /></td>
   <td>Dr. S. Adithya MD (Radiology)</td>
   <td>Radiologist</td>
   <td>Every Wednesday</td>
   <td>8.00 a.m. to 10. a.m.</td>
 </tr>
 <tr>
   <td>14. <img alt="" src="Prakash.jpg" /></td>
   <td>Dr. K. Prakash, MD (Russia), PG Dip. (Endocrinology & Diabetes)</td>
   <td>Physician</td>
   <td>Tuesday to Saturday</td>
   <td>2.00pm to 5.00 pm</td>
 </tr>
</tbody>
</table>

<h2>Physiotherapist</h2>

<p><img alt="" src="SureshGnanarethinam.jpg" />Dr.M.Suresh Gnanarethinam, BPT, C/NDT (Adult Hemiplegia and Traumatic brain injury)</p>

<p> </p>

<h2>Para-Medical Staff</h2>

<table>
<tbody>
 <tr>
   <td>S. No</td>
   <td>NAME OF THE STAFF</td>
   <td>DESIGNATION</td>
   <td>WORKING DAYS</td>
   <td>HOLIDAYS</td>
 </tr>
 <tr>
   <td>1</td>
   <td>Mrs.P Malarvizhi</td>
   <td>Sr. Technical Assistant</td>
   <td>7.30 am-11.30am 3.30 pm - 6.30 pm</td>
   <td>7.30 am--10.00 am</td>
 </tr>
 <tr>
   <td>2</td>
   <td>Mrs.S.Vairamani</td>
   <td>Sr. Pharmacist</td>
   <td>9.00 am--5.00 pm</td>
   <td>7.30 am--10.00 am</td>
 </tr>
 <tr>
   <td>3</td>
   <td>Mrs. A.Daisy Mary</td>
   <td>Sr. Technician</td>
   <td>7.30 am-11.30am 3.30 pm - 6.30 pm</td>
   <td>7.30 am--10.00 am</td>
 </tr>
 <tr>
   <td>4</td>
   <td>Mrs. Saberina Francis</td>
   <td>Staff nurse</td>
   <td>7.30 am-12.30 pm 3.30 pm - 6.30 pm</td>
   <td>7.30 am--10.00 am</td>
 </tr>
 <tr>
   <td>5</td>
   <td>Mrs. A. Daisy Rani</td>
   <td>ANM</td>
   <td>7.30 am-12.30 pm 3.30 pm - 6.30 pm</td>
   <td>7.30 am--10.00 am</td>
 </tr>
 <tr>
   <td>6</td>
   <td>Mrs.R.Padmavathy</td>
   <td>Lab- Tech</td>
   <td>7.30 am-12.30 pm 3.30 pm - 6.30 pm</td>
   <td>7.30 am--10.00 am</td>
 </tr>
 <tr>
   <td>7</td>
   <td>Mr. P. Deivanathan</td>
   <td>Helper</td>
   <td>7.30 am-12.30 pm 3.30 pm - 6.30 pm</td>
   <td>7.30 am--10.00 am</td>
 </tr>
 <tr>
   <td>8</td>
   <td>Ms.A.Kavinilavu</td>
   <td>Staff nurse</td>
   <td>On shift basis (24 hours)</td>
   <td>-</td>
 </tr>
 <tr>
   <td>9</td>
   <td>Ms. S.Kiruthika</td>
   <td>Staff nurse</td>
   <td>HOSPITAL:</td>
   <td>-</td>
 </tr>
 <tr>
   <td>10</td>
   <td>Ms.K. Kalai selvi</td>
   <td>Staff nurse</td>
   <td>7.00 am- 2.00 pm</td>
   <td>-</td>
 </tr>
 <tr>
   <td>11</td>
   <td>Ms. Stella Nesamani</td>
   <td>Staff nurse</td>
   <td>2.00 pm- 9.00 pm</td>
   <td>-</td>
 </tr>
 <tr>
   <td>12</td>
   <td>Ms. M. Suriyakala</td>
   <td>Staff nurse</td>
   <td>2.00 pm- 9.00 pm</td>
   <td>-</td>
 </tr>
 <tr>
   <td>13</td>
   <td>Shri. Raja</td>
   <td>Staff nurse</td>
   <td>9.00 p.m. to 7.00 a.m.</td>
   <td>-</td>
 </tr>
 <tr>
   <td>14</td>
   <td>Shri. Ramachandran</td>
   <td>Staff nurse</td>
   <td>OPAL :</td>
   <td>-</td>
 </tr>
 <tr>
   <td>15</td>
   <td>Mrs. K. Ramyadevi</td>
   <td>Staff nurse</td>
   <td>6.00 p.m. to 6.00 a.m.</td>
   <td>-</td>
 </tr>
 <tr>
   <td>16</td>
   <td>Mr.K.Gnanasekhar</td>
   <td>MNA cum ECG Tech</td>
   <td>8.30 am- 12.30 pm</td>
   <td>3.30 pm- 7.00 pm</td>
 </tr>
</tbody>
</table>

<p>Hospital working hours (24 hours)<br />
<br />
Apollo staff—9 NO’S (OUTSOURCING) 24- HOURS<br />
DDS LAB-staff- 2 NO’S (OUTSOURCING )</p>

<p> </p>

<p>NITT -HOSPITAL NATIONAL INSTITUTE OF TECHNOLOGY, TIRUCHIRAPPALLI – 620 015 TAMILNADU, INDIA</p>

<h2>Doctor Diagnostic lab: (OUT SOURCING)</h2>

<p>1)The lab facilities have been outsourced to Doctors Diagnostic lab (Multispecialty lab services)<br />
2) It function from 7.30am to 6.00 p.m.<br />
3) Almost all investigation can be done there.<br />
4) It was started on 1.11.06.<br />
5)Two Lab Technicians are working there.</p>

<p><br />
<img alt="" src="lab.png" /><br />
<img alt="" src="dr-diag-logo.jpg" /><br />
<img alt="" src="drdiagnostic.jpg" /><br />
<strong>Dr.Diagnostic Center's Lab</strong></p>

<h2>Apollo Pharmacy: (OUTSOURCING)</h2>

<p>1)The Pharmacy, Similarly has been outsourced to Apollo pharmacy.<br />
2)It functions 24 hours<br />
3)All drugs are made available here.<br />
4)It was started a 4/9/06.<br />
5)About 5 pharmacist and 5 pharmacy Aid are working there.</p>

<p><img alt="" src="apollo.jpg" /><br />
<strong>Apollo Pharmacy</strong></p>

<p><img alt="" src="pharmacy.png" /><br />
<strong>Apollo Pharmacy</strong></p>

<h2>Ambulance</h2>

<p>Only one Ambulance for both staff & students<br />
A 24 hrs round clock, ambulance (Oxygen cylinder & stretcher attached) facility is available within the hospital premises. It can be used only within the Trichy District</p>

<table>
<tbody>
 <tr>
   <td>
   <p style="text-align:center"><img alt="" src="ambulance.png" /><br />
   <strong>View of the Apollo Ambulance</strong></p>
   </td>
   <td>
   <p style="text-align:center"><img alt="" src="ambulance-inside.png" /><br />
   <strong>Ambulance Inside</strong></p>
   </td>
 </tr>
 <tr>
   <td>
   <p style="text-align:center"><img alt="" src="ambulance-equipments.png" /><br />
   <strong>Ambulance Onboard Emergency Equipment</strong></p>
   </td>
   <td>
   <p style="text-align:center"><img alt="" src="ambulance-paramedic.png" /><br />
   <strong>Ambulance inside view with paramedic</strong></p>
   </td>
 </tr>
</tbody>
</table>

<h2>Medical Facilities:</h2>

<p>INJECTIONS, IV, VACCINES ( ARV)<br />
NEBULIZER<br />
ECG<br />
PHYSIOTHERAY<br />
ULTRASOUND SCAN<br />
LAB INVESTIGATION<br />
APPOLLO PHARMACY<br />
REFERING HOSPITAL -----BHEL HOSPITAL</p>

<table>
<tbody>
 <tr>
   <td>
   <p style="text-align:center"><img alt="" src="injection.png" /><br />
   <strong>Injections and Intravenous fluids administrations</strong></p>
   </td>
   <td>
   <p style="text-align:center"><img alt="" src="casualty.png" /><br />
   <strong>Casualty</strong></p>
   </td>
 </tr>
 <tr>
   <td>
   <p style="text-align:center"><img alt="" src="nebulizer.png" /><br />
   <strong>Nebulizer</strong></p>
   </td>
   <td>
   <p style="text-align:center"><img alt="" src="electrocardiography.png" /><br />
   <strong>Electrocardiography</strong></p>
   </td>
 </tr>
 <tr>
   <td>
   <p style="text-align:center"><img alt="" src="ultrasonography.png" /><br />
   <strong>Ultrasonography</strong></p>
   </td>
   <td>
   <p style="text-align:center"><img alt="" src="ot.png" /><br />
   <strong>Minor Operation Theater</strong></p>
   </td>
 </tr>
 <tr>
   <td>
   <p style="text-align:center"><img alt="" src="autoclave.png" /><br />
   <strong>Autoclave</strong></p>
   </td>
   <td>
   <p style="text-align:center"><img alt="" src="dental.png" /><br />
   <strong>Dental Facilities</strong></p>
   </td>
 </tr>
 <tr>
   <td style="text-align:center"><img alt="" src="shoulder-rehab.png" /><br />
   <strong>Shoulder Rehab</strong></td>
   <td style="text-align:center"><img alt="" src="pain-management.png" /><br />
   <strong>Pain management with Ultra Sound</strong></td>
 </tr>
</tbody>
</table>

<p> </p>

<hr />
<p> </p>

<p><br />
<br />
<img alt="" src="room-scheme-v3.jpg" /><br />
<strong>Hospital room scheme</strong></p>

<p> </p>

<p> </p>

<p><br />
<img alt="" src="hos-inside.jpg" /><br />
<strong>Inside NITT Hospital</strong></p>

<p> </p>

<p> </p>

<p>Contact:<br />
Email: hospital@nitt.edu</p>
-->				</div>
   </div>


 </div>
           </div>
   </center>
</div>
{% endblock content %}
